.barra-progresso {
    width: 20%;
    background-color: darkgreen;
    padding: 20px;
}

#app {
    display: flex;
    flex-direction: column;
}

.painel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}