body {
    font-family: 'Arial', sans-serif;
}

.barra-progresso {
    width: 20%;
    background-color: darkgreen;
    padding: 20px;
}

#app {
    display: flex;
    flex-direction: column;
}

.painel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


/*Area dos pontos*/

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
}

.life-bar {
    width: 80%;
    height: 20px;
    border: 1px solid #AAAA;
}

.life-bar .life {
    height: 100%;
    width: 50%;
    background-color: darkgreen;
}

.life-bar .life.danger {
    background-color: red;
}


/*Area do resultado*/

.result {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.win {
    color: green;
}

.lose {
    color: red;
}